html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 1 rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.navbar-brand > img {
  max-height: 40px;
  width: 40px;
}

.card-body > a {
  text-decoration: none;
}

.breadcrumb-item > a {
  text-decoration: none;
}

.nav-item > .nav-link-custom {
  display: block;
  padding: .5rem 0rem;
  text-decoration: none;
}

.table-print {
  border: 1px solid black;
}

.table-print thead th {
  border: 1px solid black;
}

.table-print tbody td {
  border: 1px solid black;
}

.table-layout td {
  padding: 2px;
}

#p-cetak {
  tab-size: 4;
}

@media print {
  .table-print {
    border: 1px solid red;
  }
  
  .table-print thead th {
    border: 1px solid red;
  }
  
  .table-print tbody td {
    border: 1px solid red;
  }
}